<%- include('partials/header'); -%>

<section class="add-book">
  <form>
    <h2>Add New Book</h2>

    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" value="Enter book title" required>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" value="Enter author name" required>

    <label for="genre">Genre:</label>
      <select id="genre" name="genre" required>
      <option value="">Select genre</option>
      <option value="Fiction">Fiction</option>
      <option value="Non-Fiction">Non-Fiction</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Fantasy">Fantasy</option>
      <option value="History">History</option>
      <option value="Biography">Biography</option>
      <option value="Self-Improvement">Self-Improvement</option>
      <option value="Other">Other</option>
      </select>

    <label for="pagesRead">Pages Read:</label>
    <input type="number" id="pagesRead" name="pagesRead" value="1" min="0"  required>

    <label for="totalPages">Total Pages:</label>
    <input type="number" id="totalPages" name="totalPages" value="1" min="1" step="1" required>

    <label for="totalPages">Rating (out of 5):</label>
    <input type="number" id="rating" name="rating" value="1" min="0" max="5" step="0.01">

    <label for="remarks">Remarks:</label>
    <textarea id="remarks" name="remarks" rows="3" value="Optionalremarks"></textarea>

    <a href="/myLibrary"><button type="submit">Add Book</button></a>
  </form>
</section>

<script>
    const form = document.querySelector('form')
    const userId = "<%= user.id %>"
    form.addEventListener('submit',async (e)=>{
        e.preventDefault()
        console.log("After Add Book")
        const title = form.title.value
        const author = form.author.value
        const genre = form.genre.value
        const pagesRead = form.pagesRead.value
        const totalPages = form.totalPages.value
        const rating = form.rating.value
        const remarks = form.remarks.value

        try{
            const res = await fetch('/add-book', {
                method: 'POST',
                body: JSON.stringify({userId, title,author,genre,completionStatus: pagesRead*100/totalPages,pagesRead,totalPages, rating,remarks}),
                headers: {'Content-Type':'application/json'}
            })
            const data = await res.json()
            console.log("data",data)
            
            if(data.bookid){
                  window.location.href = '/myLibrary'

            }
        }
        catch(err){
            console.log("Error found at views/addBook.ejs, line-69")
            console.log(err)
        }
    })
</script>

<%- include('partials/footer'); -%>
