<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
  </div>
  <div class="headings">
    <h2>BooKeeper - Personal Library</h2>
    <h3>By Book Nerds For Book Nerds</h3>
    <a href="/myLibrary" class="btn">View My Books</a>
  </div>
</header>


<%- include('partials/footer'); -%>