<%- include('partials/header'); -%>

<section class="add-book">
  <div class="container">
    <form class="book-form">
      <h2>Sign Up</h2>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <div class="email error"></div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Create a password" required>
        <div class="password error"></div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn submit-btn">Sign Up</button>
        <a href="/login" class="btn cancel-btn">Already have an account?</a>
      </div>
    </form>
  </div>
</section>

<script>
    const form = document.querySelector('form')
    const email_error = document.querySelector('.email.error')
    const password_error = document.querySelector('.password.error')
    form.addEventListener('submit',async (e)=>{
        e.preventDefault()
        const email = form.email.value
        const password = form.password.value

        email_error.textContent = '';
        password_error.textContent = '';
        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: {'Content-Type': 'application/json'}
            })
            const data = await res.json()
            console.log(data)
            if(data.email || data.password) {
                email_error.textContent = data.email
                password_error.textContent = data.password
                email_error.style.display = 'block'
                password_error.style.display = 'block'
            }
            if(data.user) {
                location.assign('/')
            }
        }
        catch(err) {
            console.log(err)
        }
    })
</script>


<%- include('partials/footer'); -%>
